<!DOCTYPE html>
<html>

    <head>

        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        
        <link rel="stylesheet" href="OnsenUI\css\onsenui.css">
        <link rel="stylesheet" href="OnsenUI\css\dark-onsen-css-components.min.css">
        <link rel="stylesheet" href="css\login.css">

        <title>Login</title>

    </head>

    <body ng-app="Login">

        <ons-navigator ons-navigator swipeable var="myNavigator" page="login.html"></ons-navigator>

        <!-- Start Login View Content -->
        <template id="login.html">
            <ons-page ng-controller="LoginCtrl">
                <div style="margin-top:50%">
        
                    <div style="text-align:center">
                        <img id="cs_Logo" src="img\user.png" alt="">
                    </div>
        
                    <div class="content">
                        <div style="text-align:center">
                            <span style="color:#d68600">{{Msg}}</span>
                            <p>
                                <label for="username">
                                    <ons-icon icon="fa-user"></ons-icon>
                                </label>
                                <ons-input id="username" modifier="underbar" placeholder="User name" float ng-model="UsrName"></ons-input>
                            </p>
        
                            <p>
                                <label for="Password">
                                    <ons-icon icon="fa-lock"></ons-icon>
                                </label>
                                <ons-input id="Password" modifier="underbar" placeholder="Password" float ng-model="Password"
                                    type="Password" style="margin-top: 5%"></ons-input>
                            </p>
        
                            <p>
                                <ons-button ng-click="LoginUser()" modifier="" class="rounded" style="width:65%">Login</ons-button>
                            </p>
        
                            <p>
                                <ons-button modifier="quiet" style="color:#868585; font-size:70%">Forgot Password</ons-button>
                            </p>
        
                            <p>
                                <ons-button modifier="quiet" style="color:#868585; font-size:70%; margin-top: -3%;" ng-click="OpenSigIn()">sign in</ons-button>
                            </p>
        
                        </div>
                    </div>
        
                </div>
            </ons-page>
        </template>
        <!-- End Login View Content -->

        <!-- Start SignIn  Content -->
        <template id="Signin.html">
            <ons-page ng-controller="SignInCtrl">

                <ons-toolbar><div class="left"> <ons-back-button></ons-back-button></div></ons-toolbar>

                <div><h3 style="text-align:center; border-bottom: 2px solid #d68600;">SIGN IN</h3></div>

                <div style="text-align:center; margin-top: 10%">
                    <img src="img\account.png" alt="">
                </div>

                <!-- Start Register Form -->
                <div style="text-align: center; margin-top:10%">
                    <form name="usrForm">
                        <p>
                            <label>
                                <ons-icon icon="fa-user"></ons-icon>
                            </label>
                            <ons-input class="cs_sign" name="pname" modifier="underbar" type="text" placeholder="Personal Name *" float ng-model="PersonalName" required></ons-input>
                            <span class="cs_error" ng-show="usrForm.pname.$touched && usrForm.pname.$invalid">The name is required.</span>
                        </p>
                    
                        <p>
                            <label>
                                <ons-icon icon="fa-user"></ons-icon>
                            </label>
                            <ons-input class="cs_sign" modifier="underbar" type="text" name="sname" placeholder="Surnames *" float ng-model="Surnames" required></ons-input>
                            <span class="cs_error" ng-show="usrForm.sname.$touched && usrForm.sname.$invalid">The surnames are required.</span>
                        </p>
                    
                        <!-- UserName and PassWord -->
                        <p>
                            <ons-row>
                                <ons-col width="50%">
                                    <label for="usrname">
                                        <ons-icon icon="fa-user-circle"></ons-icon>
                                    </label>
                                    <ons-input id="usrname" style="width:75%" modifier="underbar" type="text" placeholder="User Name *"
                                        float ng-model="UserName" name="uname" required></ons-input>
                                        <span class="cs_error" ng-show="usrForm.uname.$touched && usrForm.uname.$invalid">The username is required.</span>
                                </ons-col>
                    
                                <ons-col width="50%">
                                    <label>
                                        <ons-icon icon="fa-lock"></ons-icon>
                                    </label>
                                    <ons-input style="width:75%" modifier="underbar" name="pass" type="password" placeholder="Password *" float ng-model="Password" required></ons-input>
                                    <span class="cs_error" ng-show="usrForm.pass.$touched && usrForm.pass.$invalid">The password is required.</span>
                                </ons-col>
                    
                            </ons-row>
                        </p>
                        <!-- UserName and PassWord -->
                    
                        <p>
                            <label>
                                <ons-icon icon="fa-envelope"></ons-icon>
                            </label>
                            <ons-input class="cs_sign" modifier="underbar" type="email" placeholder="Email*" name="uemail" float ng-model="Email" required></ons-input>
                            <span class="cs_error" ng-show="usrForm.uemail.$error.required">valid email is required.</span>
                        </p>
                    
                        <!-- Gender radio buttons -->
                        <p>
                            <ons-row>
                                <ons-col width="30%">
                                    <ons-radio name="gender" input-id="radio-1" ng-model="Gender" value="M" required></ons-radio>
                                    <label for="radio-1" class="center">Male</label>
                                </ons-col>
                                <ons-col width="30%">
                                    <ons-radio name="gender" input-id="radio-2" ng-model="Gender" value="F"></ons-radio>
                                    <label for="radio-1" class="center">Female</label>
                                </ons-col>
                                <ons-col width="30%">
                                    <ons-radio name="gender" input-id="radio-3" ng-model="Gender" value="O"></ons-radio>
                                    <label for="radio-1" class="center">Other</label>
                                </ons-col>
                                <span class="cs_error" style="margin-left: 28%" ng-show="usrForm.gender.$pristine && usrForm.gender.$invalid || usrForm.gender.$untouched">The gender is required.</span>
                            </ons-row>
                        </p>
                    
                        <p>
                            <ons-button class="rounded" modifier="large" ng-click="CreateNewAccount()">Create Account</ons-button>
                        </p>
                    </form>
                </div>
                <!-- End Register Form -->

            </ons-page>
        </template>
        <!-- End SignIn  Content -->

    </body>
    
    <script type="text/javascript" src="cordova.js"></script>
    <script src="OnsenUI\js\onsenui.min.js"></script>
    
    <!-- Angular js -->
    <script src="js\Angularjs1.7.6.min.js"></script>
    <script src="OnsenUI\js\angular-onsenui.js"></script>
   
    <script src="js\App\Login.js"></script>

</html>
